.header__logo {
  height: 52px;
  width: 176px;
  margin-left: 48px;
  margin-top: 28px;
}

@media (max-width: 768px) {
  .header__logo {
    margin-left: 24px;
    margin-top: 28px;
  }
}

@media (max-width: 320px) {
  .header__logo {
    height: 42px;
    width: 142px;
    margin-left: 16px;
    margin-top: 16px;
  }
}